<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页 | 烟火</title>
    <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/articleContent.css">
</head>
<body>
<div id="app">
    <div class="header">
        <div class="header-body clearfix">
            <a class="header-title" href="/">烟火 Blog</a>
            <ul class="header-nav">
                <li><a href="/" target="_self">首页</a></li>
                <li class="active"><a href="/article" target="_self">文章</a></li>
                <li><a href="/demo" target="_self">案例</a></li>
                <li><a href="/board" target="_self">留言板</a></li>
            </ul>
        </div>
    </div>
    <div class="body">
        <div class="container">
            <div class="content">
                <div class="content-container">
                    <div class="content-header">
                        <h1 class="article-title"><%=content.title%></h1>
                        <div class="article-information clearfix">
                            <span class="article-type"><%=content.type%></span>
                            <div class="article-author">
                                <span>作者：</span>
                                <span><%=content.author%></span>
                            </div>
                            <span class="article-data"><%=content.data%></span>
                        </div>
                    </div>
                    <div class="content-body">
                        <%-content.content%>
                    </div>
                </div>
            </div>
            <div class="recommend"></div>
        </div>
    </div>
    <div class="footer">
        <p>博客搭建：node.js + express + mongodb</p>
    </div>
</div>
</body>
</html>