<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文章</title>
    <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/front/article.css">
</head>
    <%include ../public/frontHead.ejs%>
    <div class="body">
        <div class="container clearfix">
            <div class="body-article-list">
                <ul class="article-warp" id="content-container">
                    <%for(var i = 0; i < content.length; i++ ){%>
                    <li class="list-item">
                        <div class="list-item-warp">
                            <div class="article-header">
                                <h1 class="article-title"><a href="/article/<%=content[i].type%>/<%=content[i].id%>"><%=content[i].title%></a></h1>
                                <div class="clearfix">
                                    <p class="article-overview">
                                        <span class="article-author">作者：</span>
                                        <span class="author-name"><%=content[i].author%></span>
                                    </p>
                                    <p class="article-date"><%=content[i].date%></p>
                                </div>
                            </div>
                            <div class="article-body">
                                <div class="article-body-content">
                                    <%-content[i].content%>
                                </div>
                            </div>
                            <div class="article-footer">
                                <span  class="article-type"><%=content[i].type%></span>
                            </div>
                        </div>
                    </li>
                    <%}%>
                </ul>
                <div class="list-btn">
                    <span class="list-title" id="expand_list">文章分类</span>
                </div>
                <%if(pageSum){%>
                    <%include ../public/paging.ejs%>
                <%}%>
            </div>
            <div class="body-classify" id="classify">
                <div class="classify-title">文章分类</div>
                <ul class="article-classify">
                    <%for(var j = 0; j < classify.length; j++){%>
                    <li class="item" >
                        <div>
                            <a href="/article/<%=classify[j].mark%>"><%=classify[j].type%></a>
                        </div>
                    </li>
                    <% var children = classify[j].children%>
                    <%if(children){%>
                    <% var len = children.length %>
                    <%for(var k = 0; k < len; k++){%>
                    <li class="item child-classify">
                        <div>
                            <a href="/article/<%=children[k].mark%>"><%=children[k].type%></a>
                        </div>
                    </li>
                    <%}%>
                    <%}%>
                    <%}%>
                </ul>
            </div>
        </div>
        <div id="up" class="pull-up">
            <div class="up-content">
                <div class="arrow-top"></div>
                <div class="arrow-body"></div>
                <div class="arrow-tie"></div>
            </div>
        </div>
    </div>
    <%include ../public/footer.ejs%>
<script data-main="/javascripts/article.js" src="/javascripts/require.min.js"></script>
</body>
</html>