<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/front/articleContent.css">
</head>
<body>

    <%include ../public/frontHead.ejs%>
    <div class="body">
        <div class="container">
            <div class="content">
                <div class="content-container">
                    <div class="content-header">
                        <h1 class="article-title"><%=content.title%></h1>
                        <div class="article-information clearfix">
                            <span class="article-type"><%=content.type%></span>
                            <div class="article-author">
                                <span>作者：</span>
                                <span><%=content.author%></span>
                            </div>
                            <span class="article-date"><%=content.date%></span>
                        </div>
                    </div>
                    <div class="content-body">
                        <%-content.content%>
                    </div>
                </div>
            </div>
           <!-- <div class="recommend"></div>-->
        </div>
    </div>
    <%include ../public/footer.ejs%>
    <script data-main = "/javascripts/normal.js" src="/javascripts/require.min.js"></script>
</body>
</html>