<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!--Edge 模式告诉 IE 以最高级模式渲染文档，也就是任何 IE 版本都以当前版本所支持的最高级标准模式渲染，避免版本升级造成的影响-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>案例</title>
    <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/front/demo.css">
</head>
<body>

    <%include ../public/frontHead.ejs%>
    <div class="body">
        <ul class="demo-warp clearfix" id="content-container">
            <%var len = content.length%>
            <%for(var i = 0; i < len; i++){%>
            <li class="demo-item">
                <a href="/cases/<%=content[i].id%>">
                    <div class="item-head">
                            <img src=<%=content[i].imgSrc%> alt=<%=content[i].title%>>
                    </div>
                    <div class="item-body">
                        <h1 class="demo-title"><%=content[i].title%></h1>
                        <p class="demo-describe"><%=content[i].introduce%></p>
                    </div>
                </a>
            </li>
            <%}%>
        </ul>
        <%if(pageSum){%>
            <%include ../public/paging.ejs%>
        <%}%>
    </div>
    <%include ../public/footer.ejs%>

<script data-main = "/javascripts/cases.js" src="/javascripts/require.min.js"></script>
</body>
</html>