<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>案例 | 烟火</title>
    <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/demo.css">
</head>
<body>
<div id="app">
    <div class="header">
        <div class="header-body clearfix">
            <a class="header-title" href="/">烟火 Blog</a>
            <ul class="header-nav">
                <li><a href="/" target="_self">首页</a></li>
                <li><a href="/article" target="_self">文章</a></li>
                <li class="active"><a href="/demo" target="_self">案例</a></li>
                <li><a href="/board" target="_self">留言板</a></li>
            </ul>
        </div>
    </div>
    <div class="body">
        <ul class="demo-warp clearfix" id="content-container">
            <%var len = content.length%>
            <%for(var i = 0; i < len; i++){%>
            <li class="demo-item">
                <a href=<%=content[i].src%>>
                    <div class="item-head">
                            <img src=<%=content[i].imgSrc%> alt=<%=content[i].title%>>
                    </div>
                    <div class="item-body">
                        <h1 class="demo-title"><%=content[i].title%></h1>
                        <p class="demo-describe"><%=content[i].introduce%></p>
                    </div>
                </a>
            </li>
            <%}%>
        </ul>
        <%if(pageSum){%>
            <%include ../public/paging.ejs%>
        <%}%>
    </div>
    <%include ../public/footer.ejs%>
</div>
<script data-main = "/javascripts/cases.js" src="/javascripts/require.min.js"></script>
</body>
</html>